.margem{
    margin:auto 100px;
    margin-top: 28px;
}

.link{
    float: right;
    padding-top: 25px;
}

.link a:hover{
    font-size: 105%;
}

.local{
    font-size: large;
}

.capa{
    display: flex;
    justify-content: center;
}

.direitos{
    text-align: center;
}

.forms{
    margin: 0,5%;
}

thead {
    background-color: #d3d3d3;
}