{% extends "base.html" %}
{% block abacate %}
        <div>
            <h2> Entre em contato</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quod harum sequi voluptatem consectetur temporibus? Nobis dolorem quis libero alias a recusandae minus rerum labore consequatur quia iste, doloribus soluta?</p>
            <hr>
            <form>
                Seu e-mail:
                <br> <input type="email"; name="e-mail"></br>
                Assunto:
                <br> <input type="text"; name="Assunto"></br>
                Descrição:
                <br> <input type="text"; name="Descrição"></br>
                <p> </p>
                <input type="submit"; value="Enviar">
            </form>
            <h4> Todos os direitos reservados </h4>
        </div>
{% endblock %}
    </body>
</html>